@import url('https://fonts.googleapis.com/css?family=Poppins:300,600');

// Styles
* { box-sizing: border-box; 
    margin-top: 0; 
}

body {
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: 1.1rem;
  margin: 0;
}

h1 {
  font-size: 5rem;
  color: rgb(92, 164, 169);
  text-transform: uppercase;
  letter-spacing: 15px;
  outline: 3px solid white;
  outline-offset: .25em;
  display: inline-block;
  margin: 0.25em 0 0.5em;
  
  span {
    font-weight: 300;
  }
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 0.5em;
}

p {
  span {
    color: rgb(92, 164, 169);
  }
}

.btn {
  display: inline-block;
  padding: .7em 1.7em;
  background: color: rgb(92, 164, 169);
  color: black;
  font-weight: 600;
  text-decoration: none;
  
  &:hover {
    background: rgb(77, 142, 147);
  }
}

.hero {
  background-color: rgb(94, 100, 114);
  background-image: url(/users/babza/repos/odin-projects/css-exercises/flex/flex-practice/Images/256-1000x600.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  height: 100vh;
  padding: 1em;
  color: white;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sales-points {
  padding: 12vh 0;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

@media (min-width: 40rem) {
  .sales-points {
    flex-direction: row;
  }
}

.sales-point {
  flex-basis: 30%;
}

.cta {
  background-image: url(/users/babza/repos/odin-projects/css-exercises/flex/flex-practice/Images/cta-image.jpeg);
  background-size: cover;
  padding: 10vh 0;
  color: white;
  display: flex;
  justify-content: flex-end;
}

.cta-text {
  flex-basis: 100%;
  padding: 0 2em;
  @media (min-width: 40rem) {
    flex-basis: 50%;
  }
}